In [1]:
#Dependencies
import pandas as pd
from pathlib import Path

In [2]:
#Read the CSV file
raw_data = pd.read_csv("../Resources/realtor-data.csv")
raw_data.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [3]:
#Delete extraneous column
del raw_data["sold_date"]
raw_data.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN

In [4]:
#Identify incomplete rows
raw_data.count()

status          613159
price           613159
bed             507459
bath            513691
acre_lot        474193
full_address    613159
street          612227
city            613095
state           613159
zip_code        612958
house_size      440048
dtype: int64

In [5]:
#Drop all rows with missing information
raw_data = raw_data.dropna(how="any")
raw_data.count()

status          319147
price           319147
bed             319147
bath            319147
acre_lot        319147
full_address    319147
street          319147
city            319147
state           319147
zip_code        319147
house_size      319147
dtype: int64

In [6]:
#Convert to string (object).
raw_data.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
dtype: object

In [7]:
#keep first duplicate data
clean_data= raw_data.drop_duplicates(keep="first")

#Delete all duplicate rows
clean_data = raw_data.drop_duplicates(keep=False)
clean_data.count()

status          6303
price           6303
bed             6303
bath            6303
acre_lot        6303
full_address    6303
street          6303
city            6303
state           6303
zip_code        6303
house_size      6303
dtype: int64

In [8]:
#Create a function to fix zip_code from float and 3 digits to string 
def fix_zip(series):
    return series.astype(str).str.extract('(\d+)', expand=False).str.zfill(5)

clean_data["ZIP"] = fix_zip(clean_data["zip_code"])
print(clean_data["ZIP"])

47        00602
48        00602
52        00602
56        00602
70        00602
          ...
613048    19720
613049    19805
613052    10307
613076    08828
613155    10307
Name: ZIP, Length: 6303, dtype: object

C:\Users\dylan\AppData\Local\Temp\ipykernel_25792\3426320180.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["ZIP"] = fix_zip(clean_data["zip_code"])

In [9]:
#Clean up headers
clean_data = clean_data.rename(columns={"status": "STATUS",
                        "price": "PRICE", 
                        "bed": "BED", 
                        "bath": "BATH", 
                        "acre_lot": "ACRE LOT", 
                        "full_address":"FULL ADDRESS", 
                        "street": "STREET", 
                        "city": "CITY", 
                        "state": "STATE", 
                        "house_size": "HOUSE SIZE"})
clean_data.head()

,STATUS,PRICE,BED,BATH,ACRE LOT,FULL ADDRESS,STREET,CITY,STATE,zip_code,HOUSE SIZE,ZIP
47,for_sale,149900.0,1.0,1.0,0.26,"Bo Espinal Carr # 442, Aguada, PR, 00602",Bo Espinal Carr # 442,Aguada,Puerto Rico,602.0,2100.0,00602
48,for_sale,180000.0,2.0,2.0,0.24,"4417 Br, Aguada, PR, 00602",4417 Br,Aguada,Puerto Rico,602.0,1138.0,00602
52,for_sale,90000.0,2.0,1.0,0.07,"A-18 Condominio Los Almendros, Aguada, PR, 00602",A-18 Condominio Los Almendros,Aguada,Puerto Rico,602.0,813.0,00602
56,for_sale,10000000.0,6.0,5.0,0.12,"441 Bo Carrizal Km 2 6 Unit 4, Aguada, PR, 00602",441 Bo Carrizal Km 2 6 Unit 4,Aguada,Puerto Rico,602.0,6000.0,00602
70,for_sale,600000.0,6.0,5.0,0.10,"Pr, Aguada, PR, 00602",Pr,Aguada,Puerto Rico,602.0,2400.0,00602

In [10]:
#remove zip_code
del clean_data["zip_code"]
clean_data.head()

,STATUS,PRICE,BED,BATH,ACRE LOT,FULL ADDRESS,STREET,CITY,STATE,HOUSE SIZE,ZIP
47,for_sale,149900.0,1.0,1.0,0.26,"Bo Espinal Carr # 442, Aguada, PR, 00602",Bo Espinal Carr # 442,Aguada,Puerto Rico,2100.0,00602
48,for_sale,180000.0,2.0,2.0,0.24,"4417 Br, Aguada, PR, 00602",4417 Br,Aguada,Puerto Rico,1138.0,00602
52,for_sale,90000.0,2.0,1.0,0.07,"A-18 Condominio Los Almendros, Aguada, PR, 00602",A-18 Condominio Los Almendros,Aguada,Puerto Rico,813.0,00602
56,for_sale,10000000.0,6.0,5.0,0.12,"441 Bo Carrizal Km 2 6 Unit 4, Aguada, PR, 00602",441 Bo Carrizal Km 2 6 Unit 4,Aguada,Puerto Rico,6000.0,00602
70,for_sale,600000.0,6.0,5.0,0.10,"Pr, Aguada, PR, 00602",Pr,Aguada,Puerto Rico,2400.0,00602

In [13]:
#Export the DataFrame to a clean csv file
clean_data.to_csv("../Output/clean_realtor_data.csv", index=True)