In [1]:
#Dependencies
import pandas as pd
from pathlib import Path

In [2]:
#Read the CSV file
df = pd.read_csv('realtor-data.csv')
df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size,sold_date
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,NaN
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN,NaN

In [3]:
#Delete extraneous column
del df['sold_date']
df.head()

,status,price,bed,bath,acre_lot,full_address,street,city,state,zip_code,house_size
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0
4,for_sale,65000.0,6.0,2.0,0.05,"14 Navarro, Mayaguez, PR, 00680",14 Navarro,Mayaguez,Puerto Rico,680.0,NaN

In [4]:
#Identify incompplete rows
df.count()

status          613159
price           613159
bed             507459
bath            513691
acre_lot        474193
full_address    613159
street          612227
city            613095
state           613159
zip_code        612958
house_size      440048
dtype: int64

In [5]:
#Drop all rows with missing information
df = df.dropna(how='any')
df.count()

status          319147
price           319147
bed             319147
bath            319147
acre_lot        319147
full_address    319147
street          319147
city            319147
state           319147
zip_code        319147
house_size      319147
dtype: int64

In [6]:
#Convert to string (object).
df.dtypes

status           object
price           float64
bed             float64
bath            float64
acre_lot        float64
full_address     object
street           object
city             object
state            object
zip_code        float64
house_size      float64
dtype: object

In [7]:
#Keep first duplicate data
df2 = df.drop_duplicates(keep='first')

#Delete all duplicate rows
df2 = df.drop_duplicates(keep=False)
df2.count()

status          6303
price           6303
bed             6303
bath            6303
acre_lot        6303
full_address    6303
street          6303
city            6303
state           6303
zip_code        6303
house_size      6303
dtype: int64

In [13]:
#Clean up headers
clean_realtor_data_df = df.rename(columns={"status": "STATUS",
                        "price": "PRICE", 
                        "bed": "BED", 
                        "bath": "BATH", 
                        "acre_lot": "ACRE LOT", 
                        "full_address":"FULL ADDRESS", 
                        "street": "STREET", 
                        "city": "CITY", 
                        "state": "STATE", 
                        "zip_code": "ZIP CODE", 
                        "house_size": "HOUSE SIZE"})
clean_realtor_data_df.head(20)

,STATUS,PRICE,BED,BATH,ACRE LOT,FULL ADDRESS,STREET,CITY,STATE,ZIP CODE,HOUSE SIZE
0,for_sale,105000.0,3.0,2.0,0.12,"Sector Yahuecas Titulo # V84, Adjuntas, PR, 00601",Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0
1,for_sale,80000.0,4.0,2.0,0.08,"Km 78 9 Carr # 135, Adjuntas, PR, 00601",Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0
2,for_sale,67000.0,2.0,1.0,0.15,"556G 556-G 16 St, Juana Diaz, PR, 00795",556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0
3,for_sale,145000.0,4.0,2.0,0.10,"R5 Comunidad El Paraso Calle De Oro R-5 Ponce,...",R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0
5,for_sale,179000.0,4.0,3.0,0.46,"Bo Calabazas San Sebastian, San Sebastian, PR,...",Bo Calabazas San Sebastian,San Sebastian,Puerto Rico,612.0,2520.0
6,for_sale,50000.0,3.0,1.0,0.20,"49.1 140, Ciales, PR, 00639",49.1 140,Ciales,Puerto Rico,639.0,2040.0
7,for_sale,71600.0,3.0,2.0,0.08,"3467 St, Ponce, PR, 00731",3467 St,Ponce,Puerto Rico,731.0,1050.0
8,for_sale,100000.0,2.0,1.0,0.09,"230 Rio De Vida, Ponce, PR, 00730",230 Rio De Vida,Ponce,Puerto Rico,730.0,1092.0
9,for_sale,300000.0,5.0,3.0,7.46,"Pr 120 Bo Maravilla Sur K M # 335, Las Marias,...",Pr 120 Bo Maravilla Sur K M # 335,Las Marias,Puerto Rico,670.0,5403.0
10,for_sale,89000.0,3.0,2.0,13.39,"Km 3 4 Solar 457 Sr # 1, Isabela, PR, 00662",Km 3 4 Solar 457 Sr # 1,Isabela,Puerto Rico,662.0,1106.0
11,for_sale,150000.0,3.0,2.0,0.08,"91 Del Rio, Juana Diaz, PR, 00795",91 Del Rio,Juana Diaz,Puerto Rico,795.0,1045.0
12,for_sale,155000.0,3.0,2.0,0.10,"Pr, Lares, PR, 00669",Pr,Lares,Puerto Rico,669.0,4161.0
13,for_sale,79000.0,5.0,2.0,0.12,"90 # A10, Utuado, PR, 00641",90 # A10,Utuado,Puerto Rico,641.0,1620.0
14,for_sale,649000.0,5.0,5.0,0.74,"F118 Madrid St El Monte Iv Ext # Dev, Ponce, P...",F118 Madrid St El Monte Iv Ext # Dev,Ponce,Puerto Rico,731.0,2677.0
15,for_sale,120000.0,3.0,2.0,0.08,"10-K Alejandrina St, Yauco, PR, 00698",10-K Alejandrina St,Yauco,Puerto Rico,698.0,1100.0
16,for_sale,235000.0,4.0,4.0,0.22,"10 Calle Carrau # 3351, Mayaguez, PR, 00680",10 Calle Carrau # 3351,Mayaguez,Puerto Rico,680.0,3450.0
17,for_sale,105000.0,3.0,2.0,0.08,"DD18 Calle 28, Ponce, PR, 00728",DD18 Calle 28,Ponce,Puerto Rico,728.0,1500.0
18,for_sale,575000.0,3.0,2.0,3.88,"5.8 Carr 435 Km # 58, San Sebastian, PR, 00685",5.8 Carr 435 Km # 58,San Sebastian,Puerto Rico,685.0,4000.0
19,for_sale,140000.0,6.0,3.0,0.25,"1 Bo Corcovada, Anasco, PR, 00610",1 Bo Corcovada,Anasco,Puerto Rico,610.0,1230.0
20,for_sale,50000.0,2.0,1.0,0.23,"Km 5 0 Carr # 374, Yauco, PR, 00698",Km 5 0 Carr # 374,Yauco,Puerto Rico,698.0,621.0

In [9]:
#Export the DataFrame to a clean csv file
clean_realtor_data_df.to_csv("clean_realtor_data.cvs", index=True)